@font-face {
    font-family: "montserrat";
    src: url(Montserrat-Italic-VariableFont_wght.ttf)
}
@font-face {
    font-family: "mont";
    src: url(Montserrat-VariableFont_wght.ttf);
}
:root {
    --cor-azul: #3BF1F4;
    --cor-preto: #000000;
  }
header {
    background: #161934;
    padding: 20px;
    height: 314px;
}
header h1 {
    font-size: 36px;
    font-family: mont;
    color: #e2e2e2;
    position: relative;
    top: 30px;
}
h1 img {
    width: 40px;
    display: inline-block;
}
.caixa {
    position: relative;
	margin: 0 auto;
}
#especial-p{
    font-size: 22px;
    font-family: mont;
    color: #e2e2e2;
}
.header-p {
    position: relative;
    font-size: 14px;
    font-family: mont;
    color: #fff4ff;
    top: 80px;
}
.header-list {
    position: absolute;
    top: 45px;
    right: 0%;
}
.header-list li{
    display: inline;
    margin: 0 0 0 15px; 
    
    
}
.header-list a{
    color: #e2e2e2;
	font-weight: bold;
	font-size: 18px;
    text-decoration: none;
    position: relative;
    font-family: mont;

    
}
.icon-skills {
    padding: 10px;
    position: relative;
    top: 110px;
}
.icon-skills li {
    display: inline-block;
    margin: 0 0.8%;
    
    
}
.icon-skills img{
    width: 33px;
    
   
}
.my-curriculo-a  {
    position: relative;
    top: 130px;
    left: 10px;
}

.my-curriculo-a a{
    font-family: montserrat;
    background-color: #bbcfff;
    box-sizing: border-box;
    border: 2px solid var(--cor-azul);
    color: #bbcfff;
    background-color: transparent;
    cursor: pointer;
    transition:0.4s;
    text-shadow: 0 0 0.110em rgba(0, 0, 0, 0.5), 0 0 0.25em currentColor;
     box-shadow: inset 0 0 0.3em 0 #bbcfff, 0 0 0.5em 0 #bbcfff;
    border-radius: 30px;
    margin: 0 1.5%;
    padding: 8px 15px;
    text-decoration: none;
    
}